# main
nautilus_trader
pandas
numpy

# Apple Silicon:
# arch -arm64 brew install ta-lib
# export TA_INCLUDE_PATH="$(brew --prefix ta-lib)/include"
# export TA_LIBRARY_PATH="$(brew --prefix ta-lib)/lib"
TA-Lib

# experiment
jupyterlab
notebook
ipdb

# plotting
# vectorbt[full]
vectorbt

# formatting
black