# main
nautilus_trader
pandas
numpy

python-dotenv

# Apple Silicon:
# arch -arm64 brew install ta-lib
# export TA_INCLUDE_PATH="$(brew --prefix ta-lib)/include"
# export TA_LIBRARY_PATH="$(brew --prefix ta-lib)/lib"
TA-Lib

# experiment
jupyterlab
notebook
ipdb

# plotting / view orders
# vectorbt[full]
# Python 3.12 support added in 0.26.0
# https://github.com/polakowo/vectorbt/issues/680#issuecomment-1925327777
vectorbt>=0.26.0
kaleido==0.2.0

# formatting
black